<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/cart.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <%- include ("template/navbar") %>
    <div class="main-container">
      <% if (cartProducts.length == 0) {%>
        <div class="alone-container">
          <p class="alone">WOW, ESTÁ BASTANTE SOLO POR AQUÍ...</p>
        </div>
      <%}%>
    <% cartProducts.forEach((product) =>{ %>
        
  <form class="product-container" method="POST" action="/payInfo" >
    <div class="product-card ">
      <div class="product-image">
        <img src="<%= product.Imagen_Producto %>" alt="" class="image" />
      </div>
      <div class="product-content">
        <p class="product-name">
        <a
        href="/productPage/<%= product.Id_Producto %>"
        class="product-link"
      >
          <%= product.Nombre_Producto %></p> </a>
        <p class="product-price">$ <%= product.Precio_Producto %></p>
        <p class="product-send">Envío gratis</p>
        <div class="container">
          <input type="text" class="hidden" value="<%=product.Id_Producto%>" name="id_producto">
          <label for="">Cantidad</label>
          <select name="cantidad_producto" id="">
            <option value="1" selected>1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>  
    </div>
  <div class="buy-buttons">
    <button class="btnComprar">Comprar</button>
    <a href="/deleteCartProduct/<%= product.Id_Carrito %>" class="btnEliminar">Eliminar</a>
  </div>
  </form>
 
    <% }) %>
     
  </body>
</html>
