<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="main-dashboard">
      <div class="logo-container">
        <div class="logo-image_container">
          <a href="/">
            <img
              class="logo-image"
              src="/resources/logo-definitivo.png"
              alt=""
            />
          </a>
        </div>
        <div class="btnCreate-container">
          <a href="/create">
            <i class="bx bxs-plus-circle"></i>
          </a>
        </div>
        <div class="productsCuantity">
          <h1>Cantidad de productos: <%= results2%></h1>
        </div>
      </div>
      <div class="dashboard-container">
        <div class="sidebar">
          <div class="products-option option focused">
            <div class="products-image_container image">
              <i class="bx bxs-shopping-bags"></i>
            </div>
            <a href="/dashboard" class="link link-focused">Productos</a>
          </div>
          <div class="users-option option">
            <div class="user-image_container image">
              <i class="bx bxs-user"></i>
            </div>
            <a href="/users" class="link">Usuarios</a>
          </div>
          <div class="orders-option option">
            <i class="bx bx-paper-plane"></i>
            <a href="/orders" class="link">Pedidos</a>
          </div>
          <div class="orders-option option">
            <i class="bx bxs-cog"></i>
            <a href="/storedProcedures" class="link">Reportes</a>
          </div>
          <div class="exit-option option">
            <i class="bx bxs-exit"></i>
            <a href="/" class="link">Salir</a>
          </div>
        </div>

        <div class="dashboard-content">
          <table class="table">
            <thead class="thead">
              <tr class="thead-tr">
                <th class="id-product table">Id</th>
                <th class="name table">Nombre</th>
                <th class="price table">Precio</th>
                <th class="weight table">Peso</th>
                <th class="description table">Descripci칩n</th>
                <th class="productImage table">Imagen</th>
                <th class="id-category table">Id/Categoria</th>
                <th class="cuantity table">Cantidad</th>
                <th class="grossor table">Grosor</th>
                <th class="material table">Material</th>
                <th class="pointsCost table">Costo/Puntos</th>
                <th class="pointsValue table">Valor/Puntos</th>
                <th class="proveedor table">Id_Proveedor</th>
                <th class="marca table">Marca</th>
                <th class="proveedor table">Nombre/Categoria</th>
                <th class="proveedor table"></th>
                <th class="proveedor table"></th>
              </tr>
            </thead>
            <tbody class="tbody">
              <% results.forEach((product)=> { %>
              <tr>
                <td class="table-cell"><%= product.Id_Producto%></td>
                <td class="table-cell"><%= product.Nombre %></td>
                <td class="table-cell">$ <%= product.Precio %></td>
                <td class="table-cell"><%= product.Peso %></td>
                <td class="table-cell descriptionProduct">
                  <%= product.Descripcion %>
                </td>
                <td class="table-cell productUrl"><%= product.Imagen %></td>
                <td class="table-cell"><%= product.Id_Categoria %></td>
                <td class="table-cell"><%= product.Cantidad %></td>
                <td class="table-cell"><%= product.Grosor %></td>
                <td class="table-cell"><%= product.Material %></td>
                <td class="table-cell"><%= product.Costo_Puntos %></td>
                <td class="table-cell"><%= product.Valor_Puntos %></td>
                <td class="table-cell"><%= product.Id_Proveedor %></td>
                <td class="table-cell"><%= product.Marca %></td>
                <td class="table-cell"><%= product.Nombre_Categoria %></td>
                <td class="btnEditar-container">
                  <a href="/edit/<%= product.Id_Producto%>" class="btnEditar"
                    >Editar</a
                  >
                </td>
                <td class="btnEliminar-container">
                  <a
                    href="/delete/<%= product.Id_Producto%>"
                    class="btnEliminar"
                    onclick="return confirm('Est치 seguro de eliminar?')"
                    >Eliminar</a
                  >
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="searchProduct">
        <div class="idProduct-container">
          <form>
            <label for="">Ingresa el nombre de un producto:</label>
            <input type="text" name="id_producto" class="id_producto" />
            <button type="submit" class="btnCapturarId btnCapturar">Buscar</button>
          </form>
          <table>
            <thead>
              <th class="id-product table">Id</th>
              <th class="name table">Nombre</th>
              <th class="price table">Precio</th>
              <th class="weight table">Peso</th>
              <th class="description table">Descripci칩n</th>
              <th class="productImage table">Imagen</th>
              <th class="id-category table">Id/Categoria</th>
              <th class="cuantity table">Cantidad</th>
              <th class="grossor table">Grosor</th>
              <th class="material table">Material</th>
              <th class="pointsCost table">Costo/Puntos</th>
              <th class="pointsValue table">Valor/Puntos</th>
              <th class="proveedor table">Id_Proveedor</th>
              <th class="marca table">Marca</th>
              <th class="proveedor table">Nombre/Categoria</th>
              <th class="proveedor table"></th>
              <th class="proveedor table"></th>
            </thead>
            <tbody class="tbody2">
              <% if(!results3 == '') {%>
                <% results3.forEach((product)=> { %>
                  <tr class="filterProduct">z
                <td class="Id"><%= Id_Producto %></td>
                <td class="Nombre"></td>
                <td class="Precio"></td>
                <td class="Peso"></td>
                <td class="Descripcion"></td>
                <td class="Imagen"></td>
                <td class="IdCategoria"></td>
                <td class="Cantidad"></td>
                <td class="Grosor"></td>
                <td class="Material"></td>
                <td class="CostoPuntos"></td>
                <td class="ValorPuntos"></td>
                <td class="IdProveedor"></td>
                <td class="Marca"></td>
                <td class="NombreCategoria"></td>
                <td class="btnEditar-container">
                  <a href="/edit/" class="btnEditar edit">Editar</a>
                </td>
                <td class="btnEliminar-container">
                  <a
                    href="/delete/"
                    class="btnEliminar delete"
                    onclick="return confirm('Est치 seguro de eliminar?')"
                    >Eliminar</a
                  >
                </td>
              </tr>
              <% }) %>
              <% }%>
            </tbody>
          </table>
  <script src="/js/searchID.js"></script>
</html>
