<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="main-dashboard">
      <div class="logo-container">
        <div class="logo-image_container">
          <img class="logo-image" src="/resources/DashboardIcon.png" alt="" />
        </div>
        <div class="logo-text"><h1>Dashboard</h1></div>
      </div>
      <div class="dashboard-container">
        <div class="sidebar">
          <div class="products-option option focused">
            <div class="products-image_container image">
              <i class="bx bxs-shopping-bags"></i>
            </div>
            <p>Productos</p>
          </div>
          <div class="users-option option">
            <div class="user-image_container image">
              <i class="bx bxs-user"></i>
            </div>
            <p>Usuarios</p>
          </div>
          <div class="orders-option option">
            <i class="bx bx-paper-plane"></i>
            <p>Pedidos</p>
          </div>
        </div>
        <div class="dashboard-content">
          <div class="btnCreate-container">
            <a href="/create">
              <i class="bx bxs-plus-circle"></i>
            </a>
          </div>
          <table class="table">
            <thead>
              <th class="id-product table">Id</th>
              <th class="name table">Nombre</th>
              <th class="price table">Precio</th>
              <th class="weight table">Peso</th>
              <th class="description table">Descripción</th>
              <th class="productImage table">Imagen</th>
              <th class="id-category table">Categoría</th>
              <th class="cuantity table">Cantidad</th>
              <th class="category-name table">Nomb/Categoría</th>
            </thead>
            <tbody>
              <% results.recordsets[0].forEach((product)=> { %>
              <tr>
                <td class="table-cell"><%= product.Id_Producto%></td>
                <td class="table-cell"><%= product.Nombre %></td>
                <td class="table-cell">$ <%= product.Precio %></td>
                <td class="table-cell"><%= product.Peso %></td>
                <td class="table-cell descriptionProduct">
                  <%= product.Descripcion %>
                </td>
                <td class="table-cell"><%= product.Imagen %></td>
                <td class="table-cell"><%= product.Categoria %></td>
                <td class="table-cell"><%= product.Cantidad %></td>
                <td class="table-cell"><%= product.NombreCategoria %></td>
                <td class="btnEditar-container">
                  <a href="/edit" class="btnEditar">Editar</a>
                </td>
                <td class="btnEliminar-container">
                  <a href="/delete" class="btnEliminar">Eliminar</a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
