<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/create.css" rel="stylesheet" type="text/css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <%- include ("template/navbar") %> <% if (producto) { %>
    <div class="form-container">
      <form action="/update" method="POST" class="form">
        <input
          id="id"
          name="id"
          value="<%= producto.Id_Producto %>"
          type="text"
          hidden
        />
        <div class="form-title"><h3>Editar Producto</h3></div>
        <div class="form-content">
          <div class="input-container">
            <label>Nombre</label>
            <input
              type="text"
              required="true"
              name="nombre"
              id="nombre"
              value="<%= producto.Nombre %>"
            />
          </div>
          <div class="input-container">
            <label>Precio</label>
            <input
              type="text"
              required="true"
              name="precio"
              id="precio"
              value="<%= producto.Precio %>"
            />
          </div>
          <div class="input-container">
            <label>Peso</label>
            <input type="text" name="peso" value="<%= producto.Peso %>" />
          </div>
          <div class="input-container">
            <label>Descripción</label>
            <textarea name="descripcion" required id="">
<%= producto.Descripcion %>"</textarea
            >
            <!-- <input type="text" required name="descripcion" /> -->
          </div>
          <div class="input-container">
            <label>Imagen</label>
            <input
              type="text"
              required
              name="imagen"
              value="<%= producto.Imagen %>"
            />
          </div>
          <div class="input-container">
            <label>Categoría</label>
            <select
              name="id_categoria"
              required
              id="id_categoria"
              value="<%= producto.Id_Categoria %>"
            >
              <option value="<%= producto.Id_Categoria %>">
                <%= producto.Id_Categoria %>
              </option>
              <option value="ACC">ACC</option>
              <option value="BOL">BOL</option>
              <option value="BOT">BOT</option>
              <option value="BUF">BUF</option>
              <option value="CAM">CAM</option>
              <option value="CAR">CAR</option>
              <option value="CIG">CIG</option>
              <option value="CIN">CIN</option>
              <option value="COR">COR</option>
              <option value="ENC">ENC</option>
              <option value="GOR">GOR</option>
              <option value="GUA">GUA</option>
              <option value="LEN">LEN</option>
              <option value="LLA">LLA</option>
              <option value="MOC">MOC</option>
              <option value="MOÑ">MOÑ</option>
              <option value="MON">MON</option>
              <option value="NAV">NAV</option>
              <option value="PAN">PAN</option>
              <option value="PAÑ">PAÑ</option>
              <option value="PAR">PAR</option>
              <option value="PER">PER</option>
              <option value="PLA">PLA</option>
              <option value="REL">REL</option>
              <option value="SHO">SHO</option>
              <option value="SOM">SOM</option>
              <option value="TEN">TEN</option>
              <option value="ZAP">ZAP</option>
            </select>
          </div>
          <div class="input-container">
            <label>Cantidad</label>
            <input
              type="text"
              required
              name="cantidad"
              value="<%= producto.Cantidad %>"
            />
          </div>
          <div class="input-container">
            <label>Grosor</label>
            <input type="text" name="grosor" value="<%= producto.Grosor %>" />
          </div>
          <div class="input-container">
            <label>Material</label>
            <input
              type="text"
              name="material"
              value="<%= producto.Material %>"
            />
          </div>
          <div class="input-container">
            <label>Costo en puntos</label>
            <input
              type="text"
              required
              name="costo_puntos"
              value="<%= producto.Costo_Puntos %>"
            />
          </div>
          <div class="input-container">
            <label>Valor en puntos</label>
            <input
              type="text"
              required
              name="valor_puntos"
              value="<%= producto.Valor_Puntos %>"
            />
          </div>
          <div class="input-container">
            <label>Id proveedor</label>
            <input
              type="text"
              required
              name="id_proveedor"
              value="<%= producto.Id_Proveedor %>"
            />
          </div>
          <div class="input-container">
            <label>Marca</label>
            <input
              type="text"
              required
              name="marca"
              value="<%= producto.Marca %>"
            />
          </div>
          <div class="btnContainer">
            <button type="submit" value="submit" class="btnGuardar">
              Guardar
            </button>
            <a class="btnCancelar" href="/dashboard">Cancelar</a>
          </div>
        </div>
      </form>
    </div>
    <% } %>
  </body>
</html>
