<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/footer.css" />
    <title>Document</title>
  </head>
  <body>
    <%- include ("template/navbar") %>
    <div class="main-containerFilter">
      <div class="header">
        <div class="currentCategory">
          <p>Hombres</p>
          <p>></p>
          <p class="category"><%= currentCategory %></p>
        </div>
        <div class="section-title">
          <h1><a href="/">Accesorios para hombre</a></h1>
        </div>
      </div>

      <div class="products-section">
        <div class="sidebar-left">
          <ul class="sidebar-menu">
            <% categorias.forEach((categoria)=> { %>
            <li>
              <a href="/indexCategory/<%= categoria.Nombre_Categoria%>"
                ><%= categoria.Nombre_Categoria%></a
              >
            </li>
            <% }) %>
          </ul>
        </div>

        <div class="products-container">
          <% results.forEach((product)=> { %>
            <% if (product.Cantidad <= 0) {%>
              <a
                href="/productPage/<%= product.Id_Producto %>"
                class="product-link unavailable"
              >
            <div class="product-card unavailable">
              <div class="product-image">
                <img src="<%= product.Imagen %>" alt="" class="imagen" />
              </div>
              <div class="product-content">
                <p class="product-name"><%= product.Nombre %></p>
                <p class="product-price">$ <%= product.Precio %></p>
                <p class="product-sellOut">Agotado</p>
              </div>
              <% }else { %>
                <a
                href="/productPage/<%= product.Id_Producto %>"
                class="product-link"
              >
            <div class="product-card">
              <div class="product-image">
                <img src="<%= product.Imagen %>" alt="" class="imagen" />
              </div>
              <div class="product-content">
                <p class="product-name"><%= product.Nombre %></p>
                <p class="product-price">$ <%= product.Precio %></p>
                <p class="product-send">Envío gratis</p>
              </div>
     
              <% } %>
            </div>
          </a>
          <% }) %>
        </div>
      </div>
    </div>
    <%- include ("template/footer") %>
  </body>
</html>
