<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/users.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main-dashboard">
      <div class="logo-container">
        <div class="logo-image_container">
          <a href="/">
            <img
              class="logo-image"
              src="/resources/logo-definitivo.png"
              alt=""
            />
          </a>
        </div>
      </div>
      <div class="dashboard-container">
        <div class="sidebar">
          <div class="products-option option">
            <div class="products-image_container image">
              <i class="bx bxs-shopping-bags"></i>
            </div>
            <a href="/dashboard" class="link">Productos</a>
          </div>
          <div class="users-option option">
            <div class="user-image_container image">
              <i class="bx bxs-user"></i>
            </div>
            <a href="/users" class="link">Usuarios</a>
          </div>
          <div class="orders-option option focused">
            <i class="bx bxs-paper-plane"></i>
            <a href="/orders" class="link link-focused">Pedidos</a>
          </div>
          <div class="orders-option option">
            <i class="bx bxs-cog"></i>
            <a href="/storedProcedures" class="link">Stored Procedures</a>
          </div>
          <div class="exit-option option">
            <i class="bx bxs-exit"></i>
            <a href="/" class="link">Salir</a>
          </div>
        </div>
        <div class="dashboard-content">
          <!-- <div class="btnCreate-container">
            <a href="/createUser">
              <i class="bx bxs-plus-circle"></i>
            </a>
          </div> -->
          <table class="table">
            <thead>
              <tr class="thead-tr">
                <th class="userId table">Id Pedido</th>
                <th class="name table">Id/Producto</th>
                <th class="firstName table">Correo usuario</th>
                <th class="name table">Nombre/Producto</th>
                <th class="secondName table">Cantidad Pedido</th>
                <th class="secondName table">Id/Usuario</th>
                <th class="secondName table"></th>
              </tr>
            </thead>
            <tbody>
              <% results.forEach((pedido)=> { %>
              <tr>
                <td class="table-cell"><%= pedido.Id_Pedido%></td>
                <td class="table-cell"><%= pedido.Id_Producto_Pedido%></td>

                <td class="table-cell"><%= pedido.Correo_Usuario %></td>
                <td class="table-cell"><%= pedido.Nombre %></td>
                <td class="table-cell"><%= pedido.Cantidad_Pedido%></td>
                <td class="table-cell"><%= pedido.Id_Usuario%></td>
                <td class="btnEliminar-container">
                  <a
                    href="/deletePedido/<%= pedido.Id_Pedido%>"
                    class="btnEliminar"
                    onclick="return confirm('Está seguro de eliminar?')"
                    >Eliminar</a
                  >
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="form" action="get" method="/spcontarVentas">
        <div class="form-group">
          <p class="">Ventas en el mes:</p>
          <button class="btnContar" type="submit">Contar</button>
        </div>
      </div> -->
    </div>
  </body>

  <script>
    const btnContar = document.querySelector(".btnContar");
    const ventas = document.querySelector(".ventas");
    btnContar.addEventListener("click", () => {
      ventas.classList.remove("hidden");
    });
  </script>
</html>
